div.main-container{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10px;

  /* width: auto; */
  padding: 1em;

  display: flex;
  flex-direction: column;

  background-color: whitesmoke;
  border-style: groove none;
  border-radius: 5px;
}

div.header-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span.review{
  margin-top: 5px;
}
