.card {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  width: 45vh;
  height: 40vh;
  margin-left: 5vh;
  margin-bottom: 5vh;

  color: #333;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.card.isRented{
  background-color: #333;
  color: white;
}

img {
  display: block;
  max-width: 45vh;
  /* width: 45vh; */
  height: 30vh;
  /* align-items: center; */
  border-radius: 10px 10px 0 0;
  margin: 0 auto 0 auto;
}

p {
  margin: auto;
  padding: 1vh 0 0 2vh;
  vertical-align: middle;

  text-decoration: none;
  font-size: small;
}

p strong {
  font-family: 'Lato', sans-serif;
  font-size: large;
}
