h1{
  padding-top: 30px;
  margin-left: 50px;
  margin-right: 50px;

  border-top: #808080;
  border-top-style: solid;
}

div.tile-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: flex-start;
}

app-review-tile, div.empty{
  flex-grow: 0;
  flex-basis: 30%;
  /* flex-basis: 500px; */
  flex-shrink: 1;

  margin-left: 45px;
  /* margin-right: 2%; */
}
