div.main-container {
  height: 100vh;
  width: 100%;
  margin: 0;

  background-color: black;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  div.main-container {
    flex-direction: column;
    justify-content: flex-start;
  }
}

div.design-container {
  height: 100vh;
  margin: 0;

  flex-grow: 1;
  background-color: white;
  background-image: url("../../../assets/landing-bg-dimmed.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 700px) {
  div.design-container {
    flex: 0 0 0;
  }
}

div.center-container {
  height: 100vh;
  width: 380px;

  display: flex;
  flex-direction: column;
  flex-basis: 380px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: white;
  color: black;
}

h1.logo {
  margin-top: 4vh;
  margin-bottom: 4vh;
  align-self: center;
  text-align: center;

  font-size: 60px;
  font-family: "Montserrat", sans-serif;
}

h1.title {
  margin-left: 1em;
  margin-top: 4vh;
  margin-bottom: 4vh;
  align-self: flex-start;
  text-align: center;

  font-size: 40px;
}

.field {
  margin-left: 2em;
}

input.field {
  width: 75%;
  margin-top: 6px;
  margin-bottom: 3em;
  padding: 10px 10px;
  border-radius: 6px;
}

button.action {
  align-self: center;
  margin-top: auto;

  background-color: black;
  border-color: black;
  border-radius: 5px;
  color: white;
  width: 20vh;
  height: 8vh;
  font-size: large;
}

button.action:hover {
  color: white;
  background-color: #808080;
}

a.link {
  margin-top: 3em;
  margin-bottom: 2em;
  align-self: center;
}
