div div{
  display: inline-block;
  width: 50%;
  height: 100%;
}
div.left {

}

div.right{

}

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  height: 50vh;
  width: auto;
  margin: auto;
}
