div.main {
  position: relative;
  height: 100%;
}

div.main div {
  display: inline-block;
  height: 100%;
  padding: 0;
  margin: 0;

  position: absolute;
  top: 0;
  bottom: 0;
  height: auto;
}

div.left {
  width: 20%;
  left: 0;
}

div.right {
  width: 78%;
  right: 0;
}

#vertical-line {
  left: 20%;
  border-left: solid #808080;
}

h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  margin: auto;
  border-radius: 20px;

  /* Orig */
  /* max-height: 40vh;
  max-width: 90%;
  height: auto;
  width: auto; */

  /* Test */
  height: 54vh;
  width: auto;
}

p.details {
  position: relative;
  padding-left: 1em;
}

span.header {
  display: inline-block;
  font-size: 48px;
  font-family: "Lato", sans-serif;
  margin-bottom: 2rem;
}

button {
  border: none;
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  border-radius: 5px;
  width: 12vh;
  height: 5vh;
}

button:hover,
button.action:hover {
  color: white;
  background-color: #808080;
}

button.action {
  display: block;
  position: absolute;
  right: 50%;
  bottom: 20%;
  margin-right: -10vh;

  background-color: black;
  border-color: black;
  color: white;
  width: 20vh;
  height: 8vh;
  font-size: large;
}

.error {
  text-align: center;
  font-size: 69px;
}
