<button (click)="goBack()">Go back</button>
<button *ngIf="!car.isRented" (click)="rentCar()">Rent Car</button>
<button *ngIf="car.isRented" (click)="returnCar()">Return Car</button>
<div *ngIf="car">
  <p>car-details works!</p>
  <!-- When hero is undefined, the ngIf removes the hero detail from the DOM.
There are no selectedHero bindings to consider.-->
  <h2>{{ car.carName | uppercase }} Details</h2>
  <div>
    <img [src]="car.imgUrl" [height]="360"> <br />
    <label>Car Name: {{car.carName}}</label> <br />
    <label>Number of Wheels: {{car.nWheels}}</label> <br />
    <label>Rate Per Hour: {{car.ratePerHour}}</label> <br />
    <label>Is Rented: {{car.isRented ? "Yes" : "No"}}</label> <br />
    <label>Date Rented: {{car.dateRented.toDateString()}}</label> <br />
    <label>Date Returned: {{car.dateReturned.toDateString()}}</label> <br />
    <label>Date Rented: {{car.dateRented.toDateString()}}</label> <br />
  </div>
</div>
