<button (click)="goBack()">Go back</button>
<button *ngIf="!car.isRented" (click)="rentCar()">Rent Car</button>
<button *ngIf="car.isRented" (click)="returnCar()">Return Car</button>

<div *ngIf="car">
  <h2>{{ car.carName | uppercase }} Details</h2>
  <div>
    <img [src]="car.imgUrl" [height]="360"> <br />
    <label>Car Name: {{car.carName}}</label> <br />
    <label>Number of Wheels: {{car.nWheels}}</label> <br />
    <label>Rate Per Hour: {{car.ratePerHour}}</label> <br />
    <label>Is Rented: {{car.isRented ? "Yes" : "No"}}</label> <br />
    <div *ngIf="car.isRented">
      <label>Date Rented: {{car.dateRented != null ? car.dateRented.toDateString() : "N/A"}}</label> <br />
      <label>Date Returned: {{car.dateReturned != null ? car.dateReturned.toDateString() : "N/A"}}</label> <br />
      <label>Date Deadline: {{car.dateDeadline != null ? car.dateDeadline.toDateString() : "N/A"}}</label> <br />
    </div>
  </div>
</div>
