<div *ngIf="!isNoCar()" class="main">
  <div class="left">
    <button (click)="goBack()">Go back</button> <br />
    <p class="details">
      <span class="header"> Details: </span> <br />
      Car Name: {{car.carName}} <br />
      Number of Wheels: {{car.nWheels}} <br />
      Rate Per Hour: Php {{car.ratePerHr}} <br />
      Status: {{car.isRented ? "Rented" : "Available"}} <br />
      <span *ngIf="car.isRented">
        <br />
        Date Rented: <br />
        {{formattedDateRented}} <br />
        <br />
        Date Deadline: <br />
        {{formattedDateDeadline}} <br />
      </span>
    </p>
    <button class="action" *ngIf="!car.isRented" (click)="rentCar()">Rent Car</button>
    <button class="action" *ngIf="car.isRented" (click)="returnCar()">Return Car</button>
  </div>
  <div id="vertical-line"></div>
  <div class="right">
    <h1>{{ car.carName }}</h1>
    <img [src]="car.imgUrl == null ? placeholdImg : car.imgUrl"> <br />
  </div>
</div>
<div *ngIf="isNoCar()" class="error">
  <h1>404 Car not found!</h1>
</div>
